.botao {
  margin-top: 25px;
  background-color: #075c1a; /* updated color value */
  padding: 5px;
  color: #fff; /* updated color value */
  border-radius: 6px;
  box-shadow: 0 0 26px #25f113;
}


@media screen and (max-width: 768px) {
  .botao {
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
    text-align: center;
  }
}